# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so
*.DS_Store

# Packages #
############
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar

# Logs and databases #
######################
*.sql
*.sqlite

# extensions #
######################
*.htaccess

# directories #
######################
#all csv files within output subdirectory
mdl/dist/output/**/*.csv

# directories #
######################
mdl/dist/output/data/**
mdl/**/__pycache__/**
__pycache__/**
docs/source/examples/eyetracking/backup/psychopyCoreGraphics_1.90.3.zip
docs/source/examples/eyetracking/backup/psychopy_eyelink.zip
mdl.egg-info/**
dist/**
