# compiled source
*.com
*.class
*.dll
*.exe
*.o
*.so
*.DS_Store
*.py[co]

# packages
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar

# passwords and keys
id_travis_rsa


# logs and databases
*.sql
*.sqlite

# extensions
*.htaccess

# files
mdl/tests/dist/output/**
mdl/dist/output/**/*.csv
mdl/dist/experiments/_js/tools/_py/variable/placebo_2abc.csv
report.html
pytest.log
*.php

# directories
# build
build/**
conda/**
dist/**
env/**
imhr.egg-info
mdl.egg-info
# ide
.spyproject
mdl/**/.spyproject
.vscode
mdl/**/.vscode
# cache
__pycache__
mdl/**/__pycache__
*.ipynb_checkpoints
mdl/**/.ipynb_checkpoints
.pytest_cache
mdl/**/.pytest_cache
# data
mdl/tests/output/*
mdl/dist/output/data/*
docs/source/data/img/*
docs/source/examples/roi/output/*
docs/source/examples/eyetracking/_psychopy/data/*
# storage
docs/source/examples/eyetracking/backup/psychopyCoreGraphics_1.90.3.zip
docs/source/examples/eyetracking/backup/psychopy_eyelink.zip
