# include
include meta.yaml
include LICENSE
include pytest.ini
include README.md
include requirements.txt
include setup.cfg
include versioneer.py
include imhr/_version.py
# recursive-include
graft imhr
graft imhr/data
graft imhr/dist
graft imhr/eyetracking
graft imhr/lib
graft imhr/r33
graft imhr/tests
graft imhr/Webgazer
# recursive-exclude of all files within path
prune build
prune conda
prune docs
prune env
prune imhr.egg-info
prune __pycache__
prune imhr/dist/roi/all
# global-include
global-include __init__.py
# global-exclude
global-exclude private.yaml
global-exclude *.dcm
global-exclude *.tif
global-exclude .ipynb_checkpoints
global-exclude .pytest_cache
global-exclude .spyproject
global-exclude .vscode
global-exclude .git
global-exclude __pycache__
global-exclude *.py[co]
global-exclude *.pyc
global-exclude *.DS_Store
