# include
include LICENSE
include HOWTO.md
include README.md
include requirements.txt
include versioneer.py
include mdl/_version.py
# recursive-include
graft docs
graft tests
graft mdl/dashboard/
graft mdl/dist
# recursive-exclude
prune docs
prune mdl/dist/experiments
# global exclude
global-exclude .vscode
global-exclude .ipynb_checkpoints
global-exclude __pycache__
global-exclude *.py[co]