# include
include LICENSE
include HOWTO.md
include README.md
include requirements.txt
include versioneer.py
include mdl/_version.py
# recursive-include
graft docs
graft tests
graft mdl/dashboard/
graft mdl/dist
# recursive-exclude
prune docs/build/
prune docs/source/data/img/
prune mdl/dist/experiments/_js/src/csv/
prune docs/source/examples/eyetracking/_psychopy/data/
# global exclude
global-exclude .vscode
global-exclude .ipynb_checkpoints
global-exclude __pycache__
global-exclude *.py[co]