mdl_eyelink==2019.5.1
scipy==1.2.1
openpyxl==2.6.0
setuptools==40.5.0
seaborn==0.9.0
pip==18.1
pyglet==1.2.4
bokeh==1.0.0
PsychoPy==3.0.4
rpy2==2.9.4
opencv_python==4.0.0.21
requests==2.20.0
pywin32==224
pandas==0.23.4
matplotlib==3.0.1
numpy==1.16.2
AppKit==0.2.8
ipython==7.5.0
Pillow==6.0.0
mdl==0.1a0
nslr==0.0.5
paramiko==2.4.2
psd_tools==1.8.14
secrets==1.0.2
scikit_learn==0.20.3
wmi==1.4.9
