scipy>=1.2.1
PsychoPy>=3.1.0
setuptools>=40.8.0
seaborn>=0.9.0
requests>=2.21.0
numpy>=1.16.2
openpyxl>=2.6.1
psutil>=5.6.1
pandas>=0.24.2
matplotlib>=3.0.3
docopt>=0.6.2
Pillow>=6.0.0
certifi>=2019.3.9
paramiko>=2.4.2
