/*--body--*/
html, body {
	font-family: "Segoe UI","Helvetica","-apple-system",".SFNSDisplay-Regular",Verdana !important;
	width: 100vw !important;
	overflow-x: hidden;
	background: #5b96be !important;
}
@media (min-width: 1200px){
	.container {
		width: 75%;
	}
}
body>.container{
	background: #B4D1E0;
    margin-top: 10px !important;
}
body>.container>.row{
	background: #f8f8f8;
}
body>.container>.row>.content{
	background: white;
}
@media (min-width: 991px) {
	body>.container>.row>.content{
		border-left: solid #eaeaea 2px;
		border-right: solid #eaeaea 2px;
	}
}
a{
	transition: none !important;
}

/*--imhr bars--*/
.imhr-bars{
	width: auto;
    margin-left: -15px;
	margin-right: -15px;
	margin-top: -6px;
} 
.imhr-bars>.bar{
	min-height: 4px;
}
.imhr-bars>.bar:nth-of-type(1){
	background-color: #f7dea8;
	height: 4px;
}
.imhr-bars>.bar:nth-of-type(2){
	background-color: #73b8e6;
	height: 16px;
}
.imhr-bars>.bar:nth-of-type(3){
	background-color: #fac2a7;
	height: 8px;
}
.imhr-bars>.bar:nth-of-type(4){
	background-color: #f8aaaa;
	height: 12px;
}

/*--navbar--*/
#navbar{
	width: 100vw !important;    
	/* -webkit-box-shadow: none !important; */
	/* box-shadow: none !important; */
}
@media (min-width: 768px) {
    #navbar>.container {
        width: 100% !important;
    }
}
/*--sidebar--*/
#sidebar {
	background-color: transparent;
	top: 40px;
}
.toc.col-md-3 {
    width: 225px;
}
@media (max-width: 991px) {
	.body>.container{
		background: transparent;
	}
	.toc.col-md-3{
		display: none;
	}
}
#sidebar>.nav {
	font-size: 13px;
	font-weight: 400 !important;
}
#sidebar>.nav-list>.toctree-l1>.internal,
#sidebar>.nav-list>.toctree-l1>.nav>.toctree-l2>.internal,
#sidebar>.nav-list>.toctree-l1>.nav>.toctree-l2>.nav>.toctree-l3>.internal,
#sidebar>.nav-list>.toctree-l1>.nav>.toctree-l2>.nav>.toctree-l3>.nav>.toctree-l4>.internal{
	color: #595959 !important;
	font-weight: 400 !important;
	text-shadow: none !important;
}
#sidebar>.nav-list>.toctree-l1>.nav>.toctree-l2>.internal,
#sidebar>.nav-list>.toctree-l1>.nav>.toctree-l2>.nav>.toctree-l3>.internal,
#sidebar>.nav-list>.toctree-l1>.nav>.toctree-l2>.nav>.toctree-l3>.nav>.toctree-l4>.internal{
	padding-left: 30px;
}
#imhr-r33>.toctree-wrapper>ul,
#imhr-r33>.toctree-wrapper>ul>.toctree-l1>ul,
#imhr-r33>.toctree-wrapper>ul>.toctree-l1>ul>.toctree-l2>ul,
#imhr-r33>.toctree-wrapper>ul>.toctree-l1>ul>.toctree-l2>ul>.toctree-l3>ul{
	padding-inline-start: 30px;
}
#imhr-r33>.toctree-wrapper>ul>.toctree-l1>.internal,
#imhr-r33>.toctree-wrapper>ul>.toctree-l1>ul>.toctree-l2>.internal,
#imhr-r33>.toctree-wrapper>ul>.toctree-l1>ul>.toctree-l2>ul>.toctree-l3>.internal{
    font-size: 13px;
    color: #2196f3 !important;
	font-weight: 400 !important;
}

/* headers */
.content>.pull-right {
    width: 100%;
    text-align: end;
    vertical-align: middle;
    font-size: 13px;
    line-height: 13px;
}
.section>h1{
    white-space: pre-wrap !important;
    white-space: -moz-pre-wrap !important;
    white-space: -pre-wrap !important;
    white-space: -o-pre-wrap !important;
    word-break: break-word;
    vertical-align: middle;
    font-size: 50px !important;
    line-height: 60px !important;
    display: flex !important;
    align-items: center;
}
/* jupyter */
.nbinput>.prompt.highlight-none.notranslate {
    display: none !important;
}

/*--class and methods--*/
.class>dd>.docutils {
    /* background-color: #ededed; */
    white-space: -moz-pre-wrap !important;
    white-space: -pre-wrap !important;
    white-space: -o-pre-wrap !important;
    word-wrap: break-word !important;
}
dd p{
	margin: 0px;
}
.class>dt, .classmethod>dt, .method>dt, .function>dt{
	background: #eaeaea;
	padding: 0 4px;
}
.class>dd, .classmethod>dd, .method>dd, .function>dd{
	padding-left: 40px;
	border-left: 4px solid #eaeaea;
}
dd {
    margin-top: 0px !important;
    margin-bottom: 10px;
}
.viewcode-link,.reference.external{
	color: #42aef7;
	font-size: 13px;
}
.viewcode-link{
	font-weight: 600;
}
.reference.internal>code>span.pre{
	color: #1c75b1;
}
span.pre,
.simple>li>.reference.external,
.simple>li>.reference.external>code>span.pre,
.reference.external>code>span.pre{
    font-weight: 700 !important;
	font-size: 12px !important;
	color: #42aef7 !important;
	font-family: "Segoe UI","Helvetica","-apple-system",".SFNSDisplay-Regular",Verdana !important;
}
/* if mobile */
@media (max-width: 600px) {
	.class>dd, .function>dt{
		padding-left: 12px;
	}
	.classmethod>dd, .method>dd{
		padding-left: 6px;
	}
}
dt:target, span.highlighted {
    background-color: #f7dea8 !important;
}
dt:target + dd{
	border-left: 4px solid #f7dea8;
}
/*--table--*/
.longtable>tbody{
    border-top: 1px solid #888;
    border-bottom: 1px solid #888;
}
.longtable>tbody>tr>td {
    border: solid 1px #ccc !important;
    border-left: 0px !important;
    border-right: 0px !important;
}
.longtable>tbody>tr:first-of-type>td{
    border-top: 0px !important;
}
.longtable>tbody>tr:last-of-type>td {
    border-bottom: 0px !important;
}
.kwargs>tbody>tr>td{
    border: solid 1px #ccc !important;
    border-left: 0px !important;
    border-right: 0px !important;
}
.kwargs>tbody>tr:first-of-type>td{
    border-top: 0px !important;
}
.kwargs>tbody>tr:last-of-type>td {
    border-bottom: 0px !important;
}
@media (max-width: 768px) {
	.table>tbody>tr>td{
		word-break: break-word;
		overflow-wrap: break-word;
		width: 50%;
	}
	.field-name{
		width: min-content !important;
	}
}
.field {
    /* border-top: 2px solid #dddddd !important; */
}
.field-name{
	background-color: #ededed;
}
.table>tbody>tr>th,
table>tbody>tr>td,
tbody>tr:nth-of-type(1)>td {
    border-top: none !important;
}

/*--notes--*/
.section>.info{
	margin-bottom: 12px;
}
.section>.info>p{
	margin: 0px !important;
}
.section>.list-container {
    list-style-type: none !important;
    padding-inline-start: 0px !important;
}
.section>.list-container>li>ol>li>p {
    margin-bottom: 6px;
}
.alert-info {
	color: #444444 !important;
    background-color: #e7f2fa !important;
    border-left: 5px solid #6ab0de !important;
}
.alert-warning {
	color: #444444 !important;
    background-color: #f0b37e !important;
    border-left: 5px solid #ffedcc !important;
}
/*--code--*/
@media (max-width: 768px) {
	.notranslate>div>pre{
		/* white-space: pre-wrap !important;
		white-space: -moz-pre-wrap !important;
		white-space: -pre-wrap !important;
		white-space: -o-pre-wrap !important;
		word-wrap: break-word !important; */
	}
}
.rubric{
	/* margin-top: 0px !important; */
}
table.field-list{
	margin-bottom: 0px !important;
	margin-top: 10px;
}
dl.method {
    padding-top: 5px;
}
code.descname, code.descclassname{
	/*  */
}
code.descname{
	padding-left: 0px !important;
	color: #1c75b1;
}
code.descclassname {
	padding-right: 0px !important;
	color: #3e8cc1;
}

/*--kwargs--*/
td.field-body table.kwargs {
    width: 100%;
    border-spacing: 2px;
    border-collapse: collapse;
	margin-top: 10px;
}

td.field-body table.kwargs th {
    padding: 2px 10px;
    border-color: #888;
    background-color: #f0f0f0;
    border-width: 1px !important;
}

td.field-body table.kwargs td {
    padding: 2px 10px;
    border-width: 1px 0;
    border-color: #ccc;
}

td.field-body table.kwargs tr:last-of-type {
	border-bottom-color: #888;
    border-width: 1px;
    border-bottom-style: solid;
}
table.kwargs thead {
	border-top-color: #888;
    border-width: 1px;
    border-top-style: solid;
}

/*--footer--*/
.footer {
    width: 100%;
    border-top: 0px !important;
    padding-top: 0px !important;
}
footer>.container{
	border-top: solid #eaeaea 2px;
	background-color: white;
	margin-top: 0px !important;
}
footer>.container>div {
    text-align: center;
    display: block;
    vertical-align: middle;
    margin: auto;
}
footer>.container>div>div {
    float: left !important;
    padding: 10px 5px 10px 5px !important;
}

/*--toctree--*/
#api-reference>.docutils{
	margin-bottom: 0px;
}
#api-reference>.toctree-wrapper>ul{
	padding-inline-start: 20px;
}
#api-reference>.toctree-wrapper>ul>.toctree-l1>.internal{
	color: #1c75b1 !important;
	font-weight: 600 !important;
}

/*--copy button--*/
/* Copy buttons */
a.copybtn {
	box-sizing: content-box !important;
	position: absolute !important;
	top: 2px !important;;
	right: 2px !important;;
	width: 14px !important;;
	height: 14px !important;;
	padding: .3em !important;;
	opacity: .3;
	transition: opacity 0.5s !important;
}
.copybtn>img {
    width: 100% !important;
    height: 100% !important;
    display: block !important;
}
div.highlight  {
    position: relative;
}
.highlight:hover .copybtn {
	opacity: 1;
}
 .o-tooltip--left {
	position: relative;
 }
 .o-tooltip--left:after {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    content: attr(data-tooltip);
	padding: 5px;
    top: 0;
    left: 0;
    background: grey;
    font-size: 1rem;
    color: white;
    white-space: nowrap;
    z-index: 2;
    border-radius: 2px;
    transform: translateX(-102%) translateY(0);
    transition: opacity 0.2s cubic-bezier(0.64, 0.09, 0.08, 1), transform 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
}
.o-tooltip--left:hover:after {
    display: block !important;
    opacity: 1;
    visibility: visible;
    transform: translateX(-100%) translateY(0);
    transition: opacity 0.2s cubic-bezier(0.64, 0.09, 0.08, 1), transform 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
}