/*--body--*/
html, body {
	font-family: "Segoe UI","Helvetica","-apple-system",".SFNSDisplay-Regular",Verdana !important;
	width: 100vw !important;
	overflow-x: hidden;
	background: #5b96be !important;
}
@media (min-width: 1200px){
	.container {
		width: 75%;
	}
}
body>.container{
	background: #B4D1E0;
    margin-top: 10px !important;
}
body>.container>.row{
	background: #f8f8f8;
}
body>.container>.row>.content{
	background: white;
}
@media (min-width: 991px) {
	body>.container>.row>.content{
		border-left: solid #eaeaea 2px;
		border-right: solid #eaeaea 2px;
	}
}
a{
	transition: none !important;
}

/*--imhr bars--*/
.imhr-bars{
	width: auto;
    margin-left: -15px;
	margin-right: -15px;
	margin-top: -6px;
} 
.imhr-bars>.bar{
	min-height: 4px;
}
.imhr-bars>.bar:nth-of-type(1){
	background-color: #f7dea8;
	height: 4px;
}
.imhr-bars>.bar:nth-of-type(2){
	background-color: #73b8e6;
	height: 16px;
}
.imhr-bars>.bar:nth-of-type(3){
	background-color: #fac2a7;
	height: 8px;
}
.imhr-bars>.bar:nth-of-type(4){
	background-color: #f8aaaa;
	height: 12px;
}

/*--panels--*/
.panel-body>ul{
	padding-inline-start: 24px !important;
}

/*--navbar--*/
#navbar{
	width: 100vw !important;    
	/* -webkit-box-shadow: none !important; */
	/* box-shadow: none !important; */
}
@media (min-width: 768px) {
    #navbar>.container {
        width: 100% !important;
    }
}
/*--sidebar--*/
#sidebar {
	background-color: transparent;
	top: 40px;
}
.toc.col-md-3 {
    width: 240px;
}
@media (max-width: 991px) {
	.body>.container{
		background: transparent;
	}
	.toc.col-md-3{
		display: none;
	}
}
#sidebar>.nav {
	font-size: 14px !important;
	line-height: 1.85 !important;
	font-weight: 400 !important;
}
ul.current.nav>li.current>a.current{
	background-color: #f7dea8 !important;
}
#sidebar>.nav-list>.toctree-l1>.external{
    color: #595959 !important;
    font-weight: 400 !important;
    text-shadow: none !important;
	font-size: 14px !important;
}
#sidebar>.nav-list>.toctree-l1>.internal,
#sidebar>.nav-list>.toctree-l1>.nav>.toctree-l2>.internal,
#sidebar>.nav-list>.toctree-l1>.nav>.toctree-l2>.nav>.toctree-l3>.internal,
#sidebar>.nav-list>.toctree-l1>.nav>.toctree-l2>.nav>.toctree-l3>.nav>.toctree-l4>.internal{
	color: #595959 !important;
	font-weight: 400 !important;
	text-shadow: none !important;
}
#sidebar>.nav-list>.toctree-l1>.nav>.toctree-l2>.internal,
#sidebar>.nav-list>.toctree-l1>.nav>.toctree-l2>.nav>.toctree-l3>.internal,
#sidebar>.nav-list>.toctree-l1>.nav>.toctree-l2>.nav>.toctree-l3>.nav>.toctree-l4>.internal{
	padding-left: 30px !important;
	padding-right: 0px !important;
}
#sidebar>.nav-list>.toctree-l1>.nav>.toctree-l2>.internal{
    font-size: 95% !important;
    line-height: 195% !important;
}
#sidebar>.nav-list>.toctree-l1>.nav>.toctree-l2>.nav>.toctree-l3>.internal {
    font-size: 90% !important;
    line-height: 190% !important;
    padding-left: 40px !important;
}
#sidebar>.nav-list>.toctree-l1>.nav>.toctree-l2>.nav>.toctree-l3>.nav>.toctree-l4>.internal{
    font-size: 85% !important;
    line-height: 185% !important;
    padding-left: 50px !important;
}
#imhr-r33>.toctree-wrapper>ul,
#imhr-r33>.toctree-wrapper>ul>.toctree-l1>ul,
#imhr-r33>.toctree-wrapper>ul>.toctree-l1>ul>.toctree-l2>ul,
#imhr-r33>.toctree-wrapper>ul>.toctree-l1>ul>.toctree-l2>ul>.toctree-l3>ul{
	padding-inline-start: 30px;
}
#imhr-r33>.toctree-wrapper>ul>.toctree-l1>.internal,
#imhr-r33>.toctree-wrapper>ul>.toctree-l1>ul>.toctree-l2>.internal,
#imhr-r33>.toctree-wrapper>ul>.toctree-l1>ul>.toctree-l2>ul>.toctree-l3>.internal{
    font-size: 13px;
    color: #2196f3 !important;
	font-weight: 400 !important;
}
/* headers */
.content>.pull-right {
    width: 100%;
    text-align: end;
    vertical-align: middle;
    font-size: 13px;
    line-height: 13px;
}
.content>.section>h1,
.content>.section>.section>h2{
    white-space: pre-wrap !important;
    white-space: -moz-pre-wrap !important;
    white-space: -pre-wrap !important;
    white-space: -o-pre-wrap !important;
    word-break: break-word;
    vertical-align: middle;
    display: flex !important;
    align-items: center;
}
.content>.section>h1{
    font-size: 40px !important;
    line-height: 50px !important;
}
.content>.section>.section>h2,
.content>.section>.section>h2>a{
    font-size: 30px !important;
    line-height: 40px !important;
}

/*--class and methods--*/
.class>dd>.docutils {
    /* background-color: #ededed; */
    white-space: -moz-pre-wrap !important;
    white-space: -pre-wrap !important;
    white-space: -o-pre-wrap !important;
    word-wrap: break-word !important;
}
dd p{
	margin: 0px;
}
.class>dt, .classmethod>dt, .method>dt, .function>dt{
	background: #eaeaea;
	padding: 0 4px;
}
.class>dd, .classmethod>dd, .method>dd, .function>dd{
	padding-left: 40px;
	border-left: 4px solid #eaeaea;
}
dd {
    margin-top: 0px !important;
    margin-bottom: 10px;
}
.viewcode-link,.reference.external{
	color: #42aef7;
	font-size: 13px;
}
.viewcode-link{
	font-weight: 500;
	line-height: 28px;
}
.reference.internal>code>span.pre{
	color: #1c75b1;
}
span.pre,
.simple>li>.reference.external,
.simple>li>.reference.external>code>span.pre,
.reference.external>code>span.pre{
    font-weight: 700 !important;
	font-size: 12px !important;
	color: #42aef7 !important;
	font-family: "Segoe UI","Helvetica","-apple-system",".SFNSDisplay-Regular",Verdana !important;
}
/* if mobile */
@media (max-width: 600px) {
	.class>dd, .function>dt{
		padding-left: 12px;
	}
	.classmethod>dd, .method>dd{
		padding-left: 6px;
	}
}
dt:target, span.highlighted {
    background-color: #f7dea8 !important;
}
dt:target + dd{
	border-left: 4px solid #f7dea8;
}

/*--genindex--*/
table.genindextable>tbody>tr { 
	display: block !important; 
	float: left !important; 
}
table.genindextable>tbody>tr>th, 
table.genindextable>tbody>tr>td {
	display: block !important;
	width: 100% !important;
}

/*--table--*/
/* citation table */
table.citation>tbody>tr>td:nth-of-type(2) {
    width: 100% !important;
}

/* fix duplicate table issue */
dl.class>dd>table:nth-of-type(2){
	display: none;
}
dd>p>strong {
    display: none;
}
p.rubric{
    margin-top: 10px !important;
    margin-bottom: 5px !important;
}
p{
	margin-bottom: 5px;
}
/* continue */
.longtable>tbody{
    border-top: 1px solid #888;
    border-bottom: 1px solid #888;
}
.longtable>tbody>tr>td {
    border: solid 1px #ccc !important;
    border-left: 0px !important;
    border-right: 0px !important;
}
.longtable>tbody>tr:first-of-type>td{
    border-top: 0px !important;
}
.longtable>tbody>tr:last-of-type>td {
    border-bottom: 0px !important;
}
.longtable>tbody>tr>td>.line-block{
	margin: 0px !important;
}
.kwargs>tbody>tr>td{
    border: solid 1px #ccc !important;
    border-left: 0px !important;
    border-right: 0px !important;
}
.kwargs>tbody>tr:first-of-type>td{
    border-top: 0px !important;
}
.kwargs>tbody>tr:last-of-type>td {
    border-bottom: 0px !important;
}
@media (max-width: 768px) {
	.table>tbody>tr>td {
		word-break: break-word;
		overflow-wrap: break-word;
		width: 50%;
	}
	.field-name {
		width: min-content !important;
	}
}
.field-name {
	background-color: #ededed;
}
.table>tbody>tr>th,
table>tbody>tr>td,
tbody>tr:nth-of-type(1)>td {
    border-top: none !important;
}

/*--table of contents (toc)--*/
ul.dropdown-menu>.divider {
	height: 1px !important;
    margin: 7px 0 !important;
    overflow: hidden !important;
    background-color: #e5e5e5 !important;
}
ul.dropdown-menu>li.toctree-l1>a,
ul.dropdown-menu>li.toctree-l2>a {
    display: block !important;
	padding: 0px !important;
    margin: 0px 20px 0px 20px !important;
    clear: both !important;
	font-size: 13px !important;
    line-height: 30px !important;
    font-weight: 400 !important;
    color: #666666 !important;
    white-space: nowrap !important;
}
ul.dropdown-menu>li.toctree-l1.current {
    border-left: 1px solid #f7dea8 !important;
}
ul.dropdown-menu>li.toctree-l2>a {
	padding-left: 10px !important;
}
/*--notes--*/
.section>.info{
	margin-bottom: 12px;
}
.section>.info>p{
	margin: 0px !important;
}
.section>.list-container {
    list-style-type: none !important;
    padding-inline-start: 0px !important;
}
.section>.list-container>li>ol>li>p {
    margin-bottom: 6px;
}
.alert-info {
	color: #444444 !important;
    background-color: #e7f2fa !important;
    border-left: 5px solid #6ab0de !important;
}
.alert-warning {
	color: #444444 !important;
    background-color: #f0b37e !important;
    border-left: 5px solid #ffedcc !important;
}
/*--code--*/
@media (max-width: 768px) {
	.notranslate>div>pre{
		/* white-space: pre-wrap !important;
		white-space: -moz-pre-wrap !important;
		white-space: -pre-wrap !important;
		white-space: -o-pre-wrap !important;
		word-wrap: break-word !important; */
	}
}
.rubric{
	/* margin-top: 0px !important; */
}
table.field-list{
	margin-bottom: 0px !important;
	margin-top: 10px;
}
dl.method {
    padding-top: 5px;
}
code.descname, code.descclassname{
	/*  */
}
code.descname{
	padding-left: 0px !important;
	color: #1c75b1;
}
code.descclassname {
	padding-right: 0px !important;
	color: #3e8cc1;
}

/*--kwargs--*/
.align-center{
	text-align: left !important;
}
table.kwargs, table.longtable {
    width: 100% !important;
    border-spacing: 2px !important;
    border-collapse: collapse !important;
	margin-top: 10px !important;
}
table.kwargs th, table.longtable th {
    padding: 2px 10px !important;
    border-color: #888 !important;
    background-color: #f0f0f0 !important;
    border-width: 1px !important;
}
table.kwargs td{
    padding: 2px 10px !important;
    border-width: 1px 0 !important;
    border-color: #ccc !important;
}
table.kwargs td, table.longtable td {
    border-width: 1px 0 !important;
    border-color: #ccc !important;
}
table.kwargs tr:last-of-type, table.longtable tr:last-of-type {
	border-bottom-color: #888 !important;
    border-width: 1px !important;
    border-bottom-style: solid !important;
}
table.kwargs thead, table.longtable thead {
	border-top-color: #888 !important;
    border-width: 1px !important;
    border-top-style: solid !important;
}

/*--footer--*/
.footer {
    width: 100%;
    border-top: 0px !important;
    padding-top: 0px !important;
}
footer>.container{
	border-top: solid #eaeaea 2px;
	background-color: white;
	margin-top: 0px !important;
}
footer>.container>div {
    text-align: center;
    vertical-align: middle;
    margin: auto;
    display: flex;
    padding: 10px 5px 10px 5px !important;
}
footer>.container>div>div {
    float: left !important;
    font-size: 13px !important;
    line-height: 20px !important;
    height: 20px !important;
    padding: 0px 2px;
}
@media (max-width: 500px) {
	footer>.container>div {
		display: grid !important;
	}
	footer>.container>div>div {
		width: 100% !important;
    	display: block !important;
	    height: auto !important;
		padding: 2px 2px !important;
	}
}
/*--toctree--*/
/* main */
#api-reference>.docutils{
	margin-bottom: 0px;
}
#api-reference>.toctree-wrapper>ul{
	padding-inline-start: 20px;
}
#api-reference>.toctree-wrapper>ul>.toctree-l1>.internal{
	color: #1c75b1 !important;
	font-weight: 600 !important;
}
/* data list */
a.list-title {
    color: #444444 !important;
	cursor: default !important;
}
a.list-title:hover, a.list-title:focus{
    color: #444444 !important;
	text-decoration: none !important;
	cursor: default !important;
}

/*--ipython--*/
/* jupyter */
.nbinput>.prompt,
.nboutput>.prompt{
    display: none !important;
}

/* code */
.input_area.highlight-ipython3{
	overflow-y: hidden !important;
}
.output_area.docutils.container{
    max-height: 150px !important;
    padding: 0.4em !important;
    margin-top: 5px;
	border: 1px solid #e0e0e0;
    border-radius: 2px;
    background: #f5f5f5;
}
.output_area.rendered_html.container{
    max-height: fit-content !important;
}

/* copy buttons */
.output_area.docutils.container>div>a,
.output_area.rendered_html.container>div>a{
	display: none !important;
}
a.copybtn {
	box-sizing: content-box !important;
	position: absolute !important;
	top: 2px !important;
	right: 2px !important;
	width: 14px !important;
	height: 14px !important;
	padding: .3em !important;
	opacity: .3;
	transition: opacity 0.5s !important;
}
.copybtn>img {
    width: 100% !important;
    height: 100% !important;
    display: block !important;
}
div.highlight  {
    position: relative;
}
.highlight:hover .copybtn {
	opacity: 1;
}
 .o-tooltip--left {
	position: relative;
 }
 .o-tooltip--left:after {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    content: attr(data-tooltip);
	padding: 5px;
    top: 0;
    left: 0;
    background: grey;
    font-size: 1rem;
    color: white;
    white-space: nowrap;
    z-index: 2;
    border-radius: 2px;
    transform: translateX(-102%) translateY(0);
    transition: opacity 0.2s cubic-bezier(0.64, 0.09, 0.08, 1), transform 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
	padding: 0px 5px !important;
    line-height: 22px !important;
}
.o-tooltip--left:hover:after {
    display: block !important;
    opacity: 1;
    visibility: visible;
    transform: translateX(-100%) translateY(0);
    transition: opacity 0.2s cubic-bezier(0.64, 0.09, 0.08, 1), transform 0.2s cubic-bezier(0.64, 0.09, 0.08, 1);
	padding: 0px 5px !important;
    line-height: 22px !important;
}
